
body{
background-color:rgb(rgb(150, 32, 32), rgb(66, 100, 66), rgb(13, 13, 134))
}


 h1{
color:#ff0000 ;
font-family: arial;
background: ;
}


p{
color: ;
font-family:arial;
font-size: ;
background: ;
}