
body{
background-color:rgb(100, 30, 30);
}


 h1{
color:#ffffff ;
font-family:arial;
background: rgba(139, 76, 24, 0.938);
}


p{
color: #fffffff1 ;
font-family:arial;
font: size 20px; ;
background:rgb(139,76,24, 0.938) ;
}
