
body{
background-color:rgb(151, 93, 17);
}


 h1{
color:#ffffff ;
font-family:arial;
background: rgb(151, 93, 17);
}


p{
color: #fffffff1 ;
font-family:arial;
font: size 20px; ;
background:rgba(179 153, 228, 0.938) ;
}

#gurmett{
    width: 100%;
}
